.footer {
    background-color: #1d3557;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  